<html lang="en">

{{> header}}

<body>
  <div>
    <h1>Welcome to adullam</h1>
    <h4>
      Here at Adullam, we are here to make sure you get the best
      experience
    </h4>
    <p class="p1">
      Dear {{name}} Please click the link below to verify your email address
    </p>
    <a href={{emailVerifyUrl}}>
      Verify Email
    </a>

    <p class="p2">
      Ignore this email if you did not sign up with Adullam
    </p>
  </div>
</body>

</html>