<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Adullam</title>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    p {
      color: grey;
      padding-top: 12px;
    }

    div {
      text-align: center;

    }

    h4 {
      color: #131313;
      font-weight: lighter;
      padding-bottom: 12px;
    }

    .p1 {
      font-size: 14px;
    }

    a {
      display: inline-block;
      text-decoration: none;
      background-color: blue;
      color: white;
      padding: 12px;
      padding-inline: 32px;
      border-radius: 8px;
      font-size: 14px;
      margin-top: 20px;
    }

    .p2 {
      margin-top: 10px;
      font-size: 14px;
    }

    h1 {
      padding-bottom: 8px;
    }
  </style>
</head>